<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is first Template Tag</title>
    <style>
        h1{
            Color:red;
            background:white;
        }
        h2{
            color:black;
            background:pink;
        }
        h3{
            color:black;
            background:pink;
        }
    </style>
</head>
<body>
<h1 id=h11>{{insert_msg }}</h1>
<h2 id=h22>current date and time:{{ insert_date }}</h2>


<h3> Hello server Current date and time :{{ insert_date }}<br>
</h3>
<img src="{% static "images/sunny.jpg" %}" alt="">
<img src="{% static "images/Kiara-Advani.jpg" %}" alt=""><br>
<link rel="stylesheet" href="{% static "css/demo.css" %}" alt=""><br><br>
<a href="https://en.wikipedia.org/wiki/Kiara_Advani">Kiara Page Link</a><br><br>
<a href="https://en.wikipedia.org/wiki/Sunny_Leone">Sunny Page link</a><br><br>
<a href="http://www.instagram.com">Instagram Page link</a><br>
</body>
{{ insert_date }}
</html>
